<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeconsumption">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MensalResiduos"></activity>
        <activity
            android:name=".navDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SettingsEletricidade"
            android:label="@string/title_activity_settings_eletricidade" />
        <activity android:name=".MensalAgua" />
        <activity
            android:name=".MensalEletricidade"
            android:label="@string/title_activity_mensal_eletricidade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainDicas"
            android:label="@string/title_activity_main_dicas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainResiduos"
            android:label="@string/title_activity_main_residuos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainAgua"
            android:label="@string/title_activity_main_agua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="HomeConsumption"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainEletricidade"
            android:label="@string/title_activity_main_eletricidade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>